body {
    overflow: hidden;
    height: 100vh;
}
.right-sidebar {
    overflow-y: auto;
    width: 88%!important;
    overflow-x: hidden;
    position: relative;
}
.chat-gpt {
    max-height: 100vh;
    height: 100vh;
}

.left-sidebar {
    background-color: #012E40;    
    flex: 1 0 10%;
}

.left-sidebar-top {
    overflow-y: auto;
    scroll-behavior: smooth;
    height: 60vh;
    min-height: 60vh;
}

.left-sidebar-top::-webkit-scrollbar {
    width: 7px;
}

.left-sidebar-top::-webkit-scrollbar-track {
    background: transparent;
    /* color of the tracking area */
}

.left-sidebar-top::-webkit-scrollbar-thumb {
    background-color: #024959;
    border-radius: 25px;
}

.left-sidebar-bottom {
    overflow: hidden;
}

.top-text {
    border: 1px solid gray;
    margin-top: 10px;
    padding: 5px;
    border-radius: 7px;
    cursor: pointer;
    margin-bottom: 10px;
}

.top-text:hover {
    opacity: .9;
}

.new-chat {
    padding: 5px;
    color: gray;
    padding-left: 15px;
}

.new-chat i {
    margin-right: 5px;
}

.textLeft {
    font-size: 15px;
    color: aliceblue;
    cursor: pointer;
}

.chatTitle {
    padding-left: 5px;
    color: aliceblue;
    cursor: pointer;
}

.textLeft:hover {
    opacity: .8;
}

.chatTitle:hover {
    opacity: .8;
}
.verticalIconWithTitle{
    flex-direction: column;
    align-items: center;
}
.chatTitle i {
    margin-right: 10px;
    font-size: 15px;
}
.body-middle{
}
.chatGPtText{
    margin-top: 100px;
    margin-bottom: 20px;
}
.paragraph{
    background: #026773;
    padding: 9px;
    border-radius: 5px;
    width: fit-content;
    max-width: 260px;
    text-align: center;
    color: rgb(197, 199, 201);
}
.pgText{
    font-size: 14px;
    letter-spacing: .5px;
}
.headerTitle{
    font-size: 17px;
    color: aliceblue;
    letter-spacing: 1px;
}
.bottom-input{
    position: absolute;
    width: 100%;
    bottom: 30px;

}

.bottom-input textarea {
    width: 90%;
    border-radius: 5px;
    height: 90px;
    outline: #012E40;
}
.sendMessage{
    position: absolute;
    right: 6%;
    bottom: 15%;
    cursor: pointer;

}
/* .chat-body::-webkit-scrollbar {
    width: 7px;
}

.chat-body::-webkit-scrollbar-track {
    background: transparent;
}

.chat-body::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 25px;
} */